@model AcadOracle.DomainModel.Models.Curso

@{
    ViewBag.Title = "Detalhes do Curso";
}

<h2>Details</h2>

<fieldset>
    <legend>Curso</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">@Model.Nome</div>

    <div class="display-label">Disciplinas (@Html.ActionLink("Add", "Create", "Disciplina", new {cursoId = Model.Id}, null))</div>
    <div class="display-field">@(Model.Disciplinas == null ? "None" : Model.Disciplinas.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>


