@model AcadOracle.DomainModel.Models.Disciplina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Disciplina</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">@Model.Nome</div>

    <div class="display-label">Creditos</div>
    <div class="display-field">@Model.Creditos</div>

    <div class="display-label">PreCreditos</div>
    <div class="display-field">@Model.PreCreditos</div>

    <div class="display-label">Semestre</div>
    <div class="display-field">@Model.Semestre</div>

    <div class="display-label">Eletiva</div>
    <div class="display-field">@Model.Eletiva</div>

    <div class="display-label">Turmas</div>
    <div class="display-field">@(Model.Turmas == null ? "None" : Model.Turmas.Count.ToString())</div>

    <div class="display-label">Cursoes</div>
    <div class="display-field">@(Model.Cursoes == null ? "None" : Model.Cursoes.Count.ToString())</div>

    <div class="display-label">PreRequisitos</div>
    <div class="display-field">@(Model.PreRequisitos == null ? "None" : Model.PreRequisitos.Count.ToString())</div>

    <div class="display-label">RequisitoPara</div>
    <div class="display-field">@(Model.RequisitoPara == null ? "None" : Model.RequisitoPara.Count.ToString())</div>

    <div class="display-label">Peso</div>
    <div class="display-field">@Model.Peso</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


