@model AcadOracle.DomainModel.Models.TurmaHorario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TurmaHorario</legend>

    <div class="display-label">DiaSemana</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.DiaSemana).ToString()</div>

    <div class="display-label">Horario</div>
    <div class="display-field">@Model.Horario</div>

    <div class="display-label">Turma</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Turma).ToString()</div>

    <div class="display-label">Horarios</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Horarios).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


