@model IEnumerable<AcadOracle.DomainModel.Models.TurmaHorario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            DiaSemana
        </th>
        <th>
            Horario
        </th>
        <th>
            Turma
        </th>
        <th>
            Horarios
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.DiaSemana).ToString()
        </td>
        <td>
			@item.Horario
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Turma).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Horarios).ToString()
        </td>
    </tr>
}

</table>


