@{
    ViewBag.Title = "O que é?";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title </h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                O AcadOracle permite que você tenha uma sugestão precisa de disciplinas para se matricular no semestre.
                Ele acaba com aquela sua dúvida do que cursar, permitindo que você informe que não deseja estudar durante
                um horário específico, não pretende fazer alguma disciplina ou limitar a quantidade de créditos.
            </p>
        </div>
    </section>
}
<h3>Então, vamos começar:</h3>
<ol class="round">
    <li class="one">
        <h5>Para o Professor</h5>
        Professor tem acesso ao conteúdo de gerência de curso, disciplinas e turmas. É necessário logar-se no sistema para acessar essa área.
        - @Html.ActionLink("Cursos", "Index", "Cursoes")
        - @Html.ActionLink("Disciplinas", "Index", "Disciplina")
        - @Html.ActionLink("Turmas", "Index", "Turma")
    </li>

    <li class="two">
        <h5>Para o Aluno</h5>
        Basta @Html.ActionLink("entrar aqui", "Create", "OracleService") para obter sua sugestão de grade curricular. 
    </li>
</ol>
